{% extends "::base.html.twig" %}

{% block body %}
    <!--<video autoplay  poster="/images/polina.jpg" id="bgvid" loop>-->
    <!--&lt;!&ndash; WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  &ndash;&gt;-->
    <!--<source src="/media/polina.webm" type="video/webm">-->
    <!--<source src="/media/polina.mp4" type="video/mp4">-->
    <!--</video>-->
    <div class="fondo1">
    </div>
    <div class="fondo2">
    </div>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Anzuelo</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li><a href="#">Sitio!</a></li>
                                <li><a href="#">Sitio!</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Anzuelo Web Studio.</h1>
                    <p class="lead">Anzuelo es una mentalidad de mantenerse siempre alerta, para cuando la presa caiga estar ahí para poder pescarla.</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-default">Ver más</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
